*{
    font-family: DM Sans;
}

.navbartop{

display: flex;
position: relative;
align-items: center;
margin-bottom: 1rem;
margin-top: 1rem;

width: 100vw;


}



.logo{


    width: 9.73%;
    height: 2.5rem;
    object-fit: contain;
    position: absolute;
    top:1.6%;
    left:4.6%;
}

.home{

   margin-left:40%;
    font: size 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #FF5766;
}
.Programs{

    margin-left:6%;
    font-size: 16px;
font-weight: 500;
line-height: 26px;
font-family: sans-serif;

}
.success{

font-size: 16px;
font-weight: 500;
line-height: 26px;
font-family: sans-serif;
min-width: 4rem;
margin-left:6%;



}
.about{
    
    font-size: 16px;
font-weight: 500;
line-height: 26px;
font-family: sans-serif;
margin-left:6%;

}
.book{
    margin-left: 6%;
    width: 11rem;
    height: 3rem;
    margin-right: 6rem;
    background-color: #FF5766;
    border-radius: 8px;
    font-family: DM Sans;
    border:none;
   font-weight: 700;
   font-size: 16px;
   color: white;

    
    
}
.book:hover{

border:solid 2px blue


}
.about:hover{

    text-decoration: underline;
   text-decoration-color:blue ;
   text-decoration-thickness:3px ;
}
.home:hover{

    text-decoration: underline;
   text-decoration-color:blue ;
   text-decoration-thickness:3px ;
}
.success:hover{

    text-decoration: underline;
   text-decoration-color:blue ;
   text-decoration-thickness:3px ;
}
.Programs:hover{

    text-decoration: underline;
   text-decoration-color:blue ;
   text-decoration-thickness:3px ;
}

  
.blueback:hover{

    border:solid 3px blue;
    border-left: 0;
    border-right: 0;
}


.development{
text-align: center;
width:screen;
color:#002863;
display:flex;
justify-content:center;
align-items:center;
font-weight: 700;
font-size:36px;
margin-top:2rem;
font-family: DM Sans;

}

.Group290781{


    display:flex;
   
    gap: 4rem;
    width:70vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    align-items: center;
    
    

}
.Group290781 > .section1{
    width:18vw;
    position: relative;
    
    display: flex;
    justify-content: center;
    border:solid 4px #FFFFFF;
   
   
}
.section1:hover{

border:solid 4px #0D99FF

}
.Group290781 > .section1> .section2{

    height: 16rem;
    width: 80%;
    background-color: #F5EAE2;
    border-radius: 12px;

   
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.04em;
text-align: center;

}
.Group290781 > .section1 > .section1img{

width: 100%;
height:8rem ;
object-fit: cover;
position: absolute;
top:6rem;
border-radius: 8px;


}

/* Vector 12 */

/* Group 290778 */
.happysmart{

    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.happy{
    font-family: DM Sans;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.04em;
    text-align: center;
    

}
.audio{
    display: flex;
    align-items: center;
}
.audio2{


    width: 20vw;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
}
.audio2 > .audio2section{

    width:20vw ;
    background-image:url('https://s3-alpha-sig.figma.com/img/1a92/bf50/99c4e55e168daf91af9f5e30570fad3c?Expires=1720396800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TDZd1JbUoCNX3IfWC3FGEStw4QyhxsXkKsRDttUqDcQibjCllJBc0P7Bw6WOL~IVtwOfMg6cbuLLqx0cE8lzvjYNKSNIQnbybUG3FnbmYEQ5E3GbuVM~ehvNtD07mNmAfUe0tKoMq7yVi1ZdcjOFf0yYtM-nNtg0qTDouD7Zh8VPqD2PQI2-RoUZgSp4esjmA4OfKlvhtxsXy2H5-hkPXOq0W4GikgFIeXk0TZ54CLD0MmneQecIWEVVW2N-QYntnSqHFw23t7zeG2o9q1z445udCCKiUKKC63FdUI13IYLzznj6jeIPmPsyMc5hDCcTtStyA~Dzz6z1Pd-CsxLunA__');
    height: 11rem;
    background-position:-23rem -100rem;
}














.smart{
    font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 34px;
letter-spacing: -0.04em;
text-align: center;

}
.rectangle5693{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.submain{

display: flex;
gap:1rem;


}
.image3{

width: 20vw;

object-fit: contain;

}
.rectangle5693box{
    width:20vw ;
    min-height: 4rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.UpTodd{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
    



    

}
.celebrate{
    font-family: DM Sans;
font-size: 40px;
font-weight: 400;
line-height: 68px;
letter-spacing: -0.04em;
text-align: center;

}
span{
    font-family: DM Sans;
font-size: 40px;
font-weight: 700;
line-height: 68px;
letter-spacing: -0.04em;
text-align: center;

}

